body {
	background: red;	
}

$color-chem: blue;

@mixin marg10($mt, $mb, $mr, $ml)
{
	margin-top: $mt;
	margin-bottom: $mb;
	margin-right: $mr;
	margin-left: $ml;

}

.box {
	width: 100px;
	height: 100px;
	background: $color-chem;
	@include marg10(20px, 40px, 15px, 60px)
}